<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="org.liberty.android.fantastischmemo.appchecktest">

    <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner" android:targetPackage="org.liberty.android.fantastischmemo"/>

    <application android:label="AnyMemoTest">
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>